# Copy this to secrets.fish and fill in your values
set -gx GOOGLE_CLOUD_PROJECT ""
set -gx ARISTOTLE_API_KEY ""
set -gx CEREBRAS_API_KEY ""
set -gx GROQ_API_KEY ""
set -gx GOOGLE_API_KEY ""
set -gx ANTHROPIC_API_KEY ""
set -gx OPENAI_API_KEY ""
